<html>
  <head>
    <title>Stipend Payments Table</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/style.css"> 
<link rel="shortcut icon" href="#" />
  </head>
  <body>
    <div class="registertop">
      <h2>Stipend Payments Table</h2>
	  <h6>You can search, sort, edit and delete cells using this page.</h6>
    </div>
	<br></br>
		<p><center><b><a href=homepage.html>Return to Homepage</a></b></center></p>
	<div id="table"></div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
	document.body.style.backgroundColor = '#edf2f4';
      const tableDiv = document.getElementById('table');

      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

      const editableCellAttributes = (data, row, col) => {
          if (row) {
            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
          }
          else {
            return {};
          }
      };

      new gridjs.Grid({
        columns: [
          { id: 'paymentid', name: 'Payment ID', 'attributes': editableCellAttributes },
          { id: 'recipientid', name: 'Recipient ID', 'attributes': editableCellAttributes },
          { id: 'paymentdate', name: 'Payment Date', 'attributes': editableCellAttributes },
          { id: 'paymentamount', name: 'Payment Amount', 'attributes': editableCellAttributes },
		  { id: 'scholarshipid', name: 'Scholarship ID', 'attributes': editableCellAttributes },
		  { id: 'delete', name: 'Delete', sort: false, 'attributes': editableCellAttributes }		  
        ],
        server: {
          url: '/api/payment',
          then: results => results.data,
          total: results => results.total,
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },
        sort: {
          enabled: true,
          multiColumn: true,
          server: {
            url: (prev, columns) => {
              const columnIds = ['paymentid', 'recipientid', 'paymentdate', 'paymentamount', 'scholarshipid', 'delete'];
              const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
              return updateUrl(prev, {sort});
            },
          },
        },
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, {start: page * limit, length: limit});
            },
          },
        },
      }).render(tableDiv);

      let savedValue;

      tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
          savedValue = ev.target.textContent;
        }
      });

      tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
          if (savedValue !== ev.target.textContent) {
            fetch('/api/payment', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                id: ev.target.dataset.elementId,
                [ev.target.dataset.columnId]: ev.target.textContent
              }),
            });
          }
          savedValue = undefined;
        }
      });

      tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
          if (ev.key === 'Escape') {
            ev.target.textContent = savedValue;
            ev.target.blur();
          }
          else if (ev.key === 'Enter') {
            ev.preventDefault();
            ev.target.blur();
          }
        }
      });
    </script>
  </body>
</html>
