<html>
  <head>
    <title>Recipients Table</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="../static/style.css">  
			<link rel="shortcut icon" href="#" />
	<!--
	
	<style>
      body {
        font-family: Sans-Serif;
      }
    </style> -->
  </head>
  
  <body>
    <div class="registertop">
      <h2>Recipients Table</h2>
	  <h6>You can search, sort, edit and delete cells using this page.</h6>
    </div>
		<br></br>
		<p><center><b><a href=homepage.html>Return to Homepage</a></b></center></p>
	<div id="table"></div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
	document.body.style.backgroundColor = '#edf2f4';
      const tableDiv = document.getElementById('table');

      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

      const editableCellAttributes = (data, row, col) => {
          if (row) {
            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
          }
          else {
            return {};
          }
      };

      new gridjs.Grid({
        columns: [
          { id: 'jid', name: 'JID', 'attributes': editableCellAttributes },
          { id: 'name', name: 'Name', 'attributes': editableCellAttributes },
          { id: 'address', name: 'Address', 'attributes': editableCellAttributes },
          { id: 'phone', name: 'Phone Number', 'attributes': editableCellAttributes },
          { id: 'email', name: 'Email', sort: false, 'attributes': editableCellAttributes },
		  { id: 'department', name: 'Department', 'attributes': editableCellAttributes },
		  { id: 'studentid', name: 'Student ID', 'attributes': editableCellAttributes },
		  { id: 'citizenid', name: 'Citizen ID', 'attributes': editableCellAttributes },
		  { id: 'fpd', name: 'First Payment Date', 'attributes': editableCellAttributes },
		  { id: 'branchno', name: 'Branch No', 'attributes': editableCellAttributes },
		  { id: 'accountno', name: 'Account No', 'attributes': editableCellAttributes },
		  { id: 'iban', name: 'IBAN', 'attributes': editableCellAttributes },
		  { id: 'status', name: 'Status', 'attributes': editableCellAttributes },
		  { id: 'scholarshipid', name: 'Scholarship ID', 'attributes': editableCellAttributes },
		  { id: 'delete', name: 'Delete', sort: false, 'attributes': editableCellAttributes }
		  
        ],
        server: {
          url: '/api/recipient',
          then: results => results.data,
          total: results => results.total,
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },
        sort: {
          enabled: true,
          multiColumn: true,
          server: {
            url: (prev, columns) => {
              const columnIds = ['jid', 'name', 'address', 'phone', 'email', 'department', 'studentid', 'citizenid', 'fpd', 'branchno', 'accountno', 'iban', 'status', 'scholarshipid', 'delete'];
              const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
              return updateUrl(prev, {sort});
            },
          },
        },
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, {start: page * limit, length: limit});
            },
          },
        },
      }).render(tableDiv);

      let savedValue;

      tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
          savedValue = ev.target.textContent;
        }
      });

      tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
          if (savedValue !== ev.target.textContent) {
            fetch('/api/recipient', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                id: ev.target.dataset.elementId,
                [ev.target.dataset.columnId]: ev.target.textContent
              }),
            });
          }
          savedValue = undefined;
        }
      });

      tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
          if (ev.key === 'Escape') {
            ev.target.textContent = savedValue;
            ev.target.blur();
          }
          else if (ev.key === 'Enter') {
            ev.preventDefault();
            ev.target.blur();
          }
        }
      });
    </script>
  </body>
</html>
