<html xmlns="http://www.w3.org/1999/xhtml">
	
    <head>
        <meta charset="UTF-8">
        <title>Total Monthly Scholarship Report</title>
        <link rel="stylesheet" href="../static/style.css">
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<link rel="shortcut icon" href="#" />
    </head>
	<body>
		<div class="registercontent" align="center">
			<div class="registertop">
				<h1>Total Monthly Scholarship Report</h1>
			</div>
			<br></br>
				 <p><b><a href=homepage.html>Return to Homepage</a></b> || <b><a href=reportmenu.html>Return to Reports Menu</a></b></p>
				 <br>
				 <p>Total monthly scholarship payments for a selected time period and selected scholarship program.
				 <br>
				 You can select all scholarship programs.
				 <br>
				 The report also gives the sum of scholarship payments for the selected time period.</p>
				 
			<div class="registerbottom">
				<form action="{{ url_for('scholarshipreport')}}" method="post" autocomplete="off">
					<div class="msg">{{ msg }}</div></br></br>
					
					
					<p><b>Current Scholarship Programs</b></p>
					{% for ss in avss %}
						<input type="checkbox" id={{ss[1]}} name={{ss[1]}} value={{ss[1]}}>
						<label for={{ss[1]}}>{{ss[0]}}</label><br></br>
					{%- endfor %}					
					
					<p><b><center>Beginning Date (DD.MM.YYYY)</center></b></p>
					<input type="date" id="beginningdate" name="beginningdate" required></br></br>
					<p><b><center>End Date (DD.MM.YYYY)</center></b></p>
					<input type="date" id="enddate" name="enddate" required></br></br>
					<input type="submit" class="btn" value="Submit"></br></br>
					
					<input type="button" class="btn" value="Download CSV File" onclick="DownloadFile('scholarshipreport.csv')" /></br></br>
					
					<div class="msg"> Selected Scholarships: {{ selected_scholarships }}</div></br></br>
					<script type="text/javascript">
						function DownloadFile(fileName) {
							//Set the File URL.
							var url = "csv/" + fileName;
				 
							//Create XMLHTTP Request.
							var req = new XMLHttpRequest();
							req.open("GET", url, true);
							req.responseType = "blob";
							req.onload = function () {
								//Convert the Byte Data to BLOB object.
								var blob = new Blob([req.response], { type: "application/octetstream" });
				 
								//Check the Browser type and download the File.
								var isIE = false || !!document.documentMode;
								if (isIE) {
									window.navigator.msSaveBlob(blob, fileName);
								} else {
									var url = window.URL || window.webkitURL;
									link = url.createObjectURL(blob);
									var a = document.createElement("a");
									a.setAttribute("download", fileName);
									a.setAttribute("href", link);
									document.body.appendChild(a);
									a.click();
									document.body.removeChild(a);
								}
							};
							req.send();
						};
					</script>
								
				</form>
			
			</div>
			<br></br>
			<div id="table"></div>
    </div>
	<!-- <div id="table"></div> -->
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
	
	const tableDiv = document.getElementById('table');
	
	console.log({{ data1 }})
	
    new gridjs.Grid({
	  columns: ['Year', 'Month', 'Payment'],
	  data: {{ data1 }}
	}).render(tableDiv);
	
    </script>
	</body>
	
</html>